.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;

  .filter {
    display: flex;
    flex-direction: column;

    label {
      padding-bottom: 5px;
      margin-bottom: 5px;
      font-size: 16px;
      border-radius: 4px;
      display: flex;
      align-items: center;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      margin-top: 5px;
      width: 100px;
    }
  }

  .priceFilter {
    padding: 10px 0px 10px 0px;
    border-radius: 8px;

    .title {
      padding-bottom: 5px;
      margin-bottom: 5px;
      font-size: 16px;
      border-radius: 4px;
      display: flex;
      align-items: center;
    }

    .inputs {
      display: flex;
      gap: 10px; /* Пробел между полями ввода */
    }

    input {
      width: 100px; /* Ширина каждого поля ввода */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
  }

  .resetButton {
    width: 100px;
    padding: 10px;
    background-color: #ff2969;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #e02659;
    }
  }
}
